<!DOCTYPE html>
<html>
<head>
  <title>The Herald</title>
  <%= stylesheet_link_tag    "articles" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic' rel='stylesheet' type='text/css'>

</head>
<body>

<%= yield %>

</body>
</html>
